<section class="section-min section product" id="courses">
		<div class="container overflow-hidden">
			<div class="row">
				<div class="col-md-12">
					<h3 class="section-heading">Cursos</h3>
				</div>
				<div class="col-md-12">
					<div class="product-list-slider">
						<ul class="swiper-wrapper product-list product-list-vertical">
							<!-- SINGLE ITEM -->
							<% @courses.each do |course| %>
							<li class="swiper-slide wow fadeInUp text-center" data-wow-delay=".2s"> 
								<span class="product-list-left pull-left">
									<a href="/courses/<%=course.id%>" data-target="" data-toggle="modal">
										<img alt="product image" class="product-list-primary-img" src="<%=course.avatar.url()%>"> 
										<img alt="product image" class="product-list-secondary-img" src="<%=course.avatar1.url()%>">
									</a>
								</span> 

								<a href="/courses/<%=course.id%>" data-target="" data-toggle="modal">
									<span class="product-list-right pull-left">
										<span class="product-list-name h3"><%=course.first_title%></span>
										
									</span>
								</a> 

								 		
							</li>
							<%end%>
							<!-- / SINGLE ITEM -->
							
							
							
						</ul>

						<!-- CAROUSEL CONTROLS -->
						<div class="product-list-pagination text-center"></div>
						<div class="product-list-slider-next right-arrow-negative">
							<span class="ti-arrow-right"></span>
						</div>

						<div class="product-list-slider-prev left-arrow-negative">
							<span class="ti-arrow-left"></span>
						</div>
						<!-- CAROUSEL CONTROLS -->
					</div>
				</div>
			</div>
			
		</div>
	</section>