<!DOCTYPE html>
<html>
  <head>
    <title>IGLA</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta charset="utf-8">
    <meta content="" name="description">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <meta content="width=device-width" name="viewport">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <link href="/assets/favicon.jpg" rel="icon" type="image/jpg">
    <link href="https://fonts.googleapis.com/css?family=Dancing+Script%7CLato:300,400,700" rel="stylesheet">
   
  </head>

  <body data-offset="50" data-spy="scroll" data-target=".navbar" class="dark-theme">
	
	<%= render 'layouts/navbar' %>
	
    <%= yield %>

 
   
   <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC8i4PJjQHurA3QW6PizzfqrMfyKGKD_s4"></script>
    <script src="/assets/main.js"></script>
  </body>

</html>
